---
import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";

import BadgeLayout from "~/layouts/BadgeLayout.astro";
import HeroNameDetails from "~/components/HeroNameDetails.astro";
import HeroNameHeading from "~/components/HeroNameHeading.astro";

import "~/layouts/base.css";
import "~/layouts/normalize.css";
import Heading from "~/components/Heading.astro";

const name = Astro.url.searchParams.get("name");
const role = Astro.url.searchParams.get("role");
const position = Astro.url.searchParams.get("position");
---

<BadgeLayout>
	<div class="contents">
		<div class="top">
			<HeroNameHeading align="center" color="inverted" level="h2" />
			<Heading class="date" level="h2">October 3-4 2024</Heading>
		</div>
		<!-- {showWhiteArea ? <div class="white-area" /> : <div></div>} -->
		<div class="texts">
			<Heading class="name" level="h2">{name}</Heading>
			<Heading class="position" level="h3">{position}</Heading>
			<Heading class="role" level="h3">{role}</Heading>
		</div>
	</div>
</BadgeLayout>

<style>
	.contents {
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 4.5rem 2.5rem 3.25rem;
		text-shadow: 0 3px 7px var(--colorTextShadow);
		width: 100%;
	}

	.top {
		flex-grow: 999;
	}

	.date {
		font-size: 3rem;
		margin-top: 1rem;
		color: #cae6ff;
	}

	.texts {
		color: var(--colorOffWhite);
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.name {
		font-size: 3.5rem;
	}

	.position {
		font-size: 2rem;
	}

	.role {
		font-size: 3rem;
		margin-top: 5rem;
		color: #cae6ff;
	}
</style>
