---
import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";

import "~/layouts/base.css";
import "~/layouts/normalize.css";

import Heading from "~/components/Heading.astro";
import SquiggleFlanked from "~/components/SquiggleFlanked.astro";
import BadgeLayout from "~/layouts/BadgeLayout.astro";
import BodyArea from "~/components/BodyArea.astro";

const name = Astro.url.searchParams.get("name");
const role = Astro.url.searchParams.get("role");
---

<BadgeLayout>
	<BodyArea class="badge-front-body-area" slot="body">
		<Heading class="name" level="h2">
			{name?.split(/\s+/g).map((line) => <div>{line}</div>)}
		</Heading>
	</BodyArea>
	<div slot="footer">
		<SquiggleFlanked class="role" width="lean">{role}</SquiggleFlanked>
	</div>
</BadgeLayout>

<style>
	.badge-front-body-area {
		height: 36rem;
		margin-top: 3rem;
	}

	.name {
		color: var(--colorForeground);
		display: flex;
		flex-direction: column;
		font-size: 5.5rem;
		gap: 1rem;
		text-shadow: 0 0 3px var(--colorOffWhite);
		width: 100%;
	}

	.role {
		color: var(--colorBlueLight);
		font-family: var(--fontFamilyHeading);
		font-weight: var(--fontWeightBold);
		font-size: 2.5rem;
		position: relative;
		padding-bottom: 1.5rem;
	}
</style>
