---
import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";

import "~/layouts/base.css";
import "~/layouts/normalize.css";

import AdContents from "~/components/AdContents.astro";
import AdImage from "~/components/AdImage.astro";
import AdTitleAndSubtitle from "~/components/AdTitleAndSubtitle.astro";
import DeepBlueSea from "~/components/DeepBlueSea.astro";
import Head from "~/components/Head.astro";
import { partnersBySlug } from "~/data/partners";
import { sponsorsBySlug } from "~/data/sponsors";
import { venuesBySlug } from "~/data/venues";

export function getStaticPaths() {
	return [
		...Object.keys(partnersBySlug).map((slug) => ({
			params: { type: "partner", slug: slug as keyof typeof partnersBySlug },
		})),
		...Object.keys(sponsorsBySlug).map((slug) => ({
			params: { type: "sponsor", slug: slug as keyof typeof sponsorsBySlug },
		})),
		...Object.keys(venuesBySlug).map((slug) => ({
			params: { type: "venue", slug: slug as keyof typeof venuesBySlug },
		})),
	];
}

const entityMaps = {
	sponsor: sponsorsBySlug,
	venue: venuesBySlug,
	partner: partnersBySlug,
} as const;

const type = Astro.params.type as keyof typeof entityMaps;
const slug = Astro.params.slug;

const entityMap = entityMaps[type as "partner"];

const entity = entityMap[slug as keyof typeof entityMap];
---

<html lang="en">
	<Head description="Internal ad page." title="Ad" />
	<body>
		<main>
			<DeepBlueSea class="deep-blue-ad">
				<AdContents>
					<AdTitleAndSubtitle slot="top" title={`Thank you to our ${type}`} />
					<AdImage slot="body" src={entity.logos.dark} />
				</AdContents>
			</DeepBlueSea>
		</main>
		<style>
			.deep-blue-ad {
				height: 100vh;
			}
		</style>
	</body>
</html>
