---
import HeroForPage from "~/components/HeroForPage.astro";
import ContentLayout from "~/layouts/ContentLayout.astro";
import FAQs from "~/components/FAQs.astro";
import BodyText from "~/components/BodyText.astro";
---

<ContentLayout
	description="FAQs for SquiggleConf: a Boston conference focused on excellent web dev tooling."
	title="FAQs"
>
	<HeroForPage slot="hero">Frequently Asked Questions</HeroForPage>

	<BodyText class="byline primary-faq-contents" size="large">
		Got questions not covered here? Reach out, we’d be happy to talk!
		<br />
		<a href="mailto:questions@squiggleconf.com">questions@squiggleconf.com</a>
	</BodyText>

	<FAQs />
</ContentLayout>

<style>
	.primary-faq-contents {
		margin-bottom: 4rem;
	}
</style>
