---
import BodyText from "~/components/BodyText.astro";
import Calls from "~/components/Calls.astro";
import Heading from "~/components/Heading.astro";
import Information from "~/components/Information.astro";
import PrimaryContents from "~/components/PrimaryContents.astro";
import PrimaryHero from "~/components/PrimaryHero.astro";
import SpeakersContent from "~/components/SpeakersContent.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout>
	<PrimaryHero />
	<PrimaryContents>
		<div class="contents">
			<Information />
			<SpeakersContent heading>
				<BodyText size="large" width="lean">
					See more on <a href="/speakers">Speakers</a>.

					<br />
					<br />

					You’ll emerge with the best techniques to supercharge your projects —
					whether you’re already a tooling wizard or trying to become one.
				</BodyText>
			</SpeakersContent>
			<Calls />
		</div>
	</PrimaryContents>
</BaseLayout>

<style>
	.contents {
		align-items: center;
		display: flex;
		gap: 7rem;
		flex-direction: column;
	}
</style>
