---
import AboutUs from "~/components/AboutUs.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import Calls from "~/components/Calls.astro";
import Header from "~/components/Header.astro";
import Information from "~/components/Information.astro";
import PrimaryHero from "~/components/PrimaryHero.astro";
import Speakers from "~/components/Speakers.astro";
import PrimaryContents from "~/components/PrimaryContents.astro";
---

<BaseLayout>
	<Header />
	<PrimaryHero />
	<PrimaryContents>
		<div class="contents">
			<Information />
			<Speakers />
			<Calls class="half" />
			<AboutUs />
		</div>
	</PrimaryContents>
</BaseLayout>

<style>
	.contents {
		align-items: center;
		display: flex;
		gap: 7rem;
		flex-direction: column;
	}
</style>
