---
import AboutUs from "~/components/AboutUs.astro";
import FAQs from "~/components/FAQs.astro";
import PrimaryHero from "~/components/PrimaryHero.astro";
import Speakers from "~/components/Speakers.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import Newsletter from "~/components/Newsletter.astro";
import Information from "~/components/Information.astro";
import Calls from "~/components/Calls.astro";
---

<BaseLayout>
	<PrimaryHero />
	<div class="contents">
		<Information />
		<Speakers />
		<Calls class="half" />
		<AboutUs />
		<FAQs />
	</div>
</BaseLayout>

<style>
	.contents {
		align-items: center;
		display: flex;
		gap: 7rem;
		flex-direction: column;
		padding: clamp(2.5rem, 10vw, 5rem) 0 7.5rem;
	}
</style>
