---
import FunInfo from "~/components/FunInfo.astro";
import MCs from "~/components/MCs.astro";
import Newsletter from "~/components/Newsletter.astro";
import Partners from "~/components/Partners.astro";
import PrimaryHero from "~/components/PrimaryHero.astro";
import PrimaryInfo from "~/components/PrimaryInfo.astro";
import SpeakersContent from "~/components/SpeakersContent.astro";
import Sponsors from "~/components/Sponsors.astro";
import ContentLayout from "~/layouts/ContentLayout.astro";
---

<ContentLayout
	description="A Boston conference focused on excellent web dev tooling."
>
	<PrimaryHero slot="hero" />
	<div class="index-contents">
		<PrimaryInfo />
		<SpeakersContent />
		<MCs />
		<Sponsors />
		<Partners />
		<Newsletter class="newsletter" />
		<FunInfo />
	</div>
</ContentLayout>

<style>
	.index-contents {
		align-items: center;
		display: flex;
		gap: 7rem;
		flex-direction: column;
	}

	.newsletter {
		max-width: fit-content;
	}
</style>
