---
import HeadingFlanked from "~/components/HeadingFlanked.astro";
import HeroForPage from "~/components/HeroForPage.astro";
import PrimaryContents from "~/components/PrimaryContents.astro";
import ScheduledActivity from "~/components/ScheduledActivity.astro";
import ContentLayout from "~/layouts/ContentLayout.astro";
import { days } from "~/data/schedule";
import BodyText from "~/components/BodyText.astro";
---

<ContentLayout
	description="Schedule at SquiggleConf: a Boston conference focused on excellent web dev tooling."
	title="Schedule"
>
	<HeroForPage>Schedule</HeroForPage>

	<BodyText class="schedule-body-text" width="lean">
		All times are in EDT, local to Boston.
	</BodyText>

	<PrimaryContents>
		{
			days.map(({ activities, title }) => (
				<section class="schedule-day">
					<HeadingFlanked id={title.split(/\W+/)[0].toLowerCase()}>
						{title}
					</HeadingFlanked>

					{activities.map((activity) => (
						<ScheduledActivity activity={activity} />
					))}
				</section>
			))
		}
	</PrimaryContents>
</ContentLayout>

<style>
	.schedule-body-text {
		margin: 4rem auto 0;
	}

	.schedule-day:not(:last-of-type) {
		margin-bottom: 3rem;
	}
</style>
