---
import HeroForPage from "~/components/HeroForPage.astro";
import ContentLayout from "~/layouts/ContentLayout.astro";
import { peopleBySlug, talksBySlug } from "~/data/notion-data";
import Speaker from "~/components/Speaker.astro";
import BodyText from "~/components/BodyText.astro";
import SafeMarkdown from "~/components/SafeMarkdown.astro";
---

<ContentLayout
	description="Speakers at SquiggleConf: a Boston conference focused on excellent web dev tooling."
	title="Speakers"
>
	<HeroForPage slot="hero">Speakers</HeroForPage>

	<BodyText class="speakers-top" size="large" width="full">
		Our speakers will all be in-person for SquiggleConf 2024.
		<br />
		See talk and workshop details on <a href="/sessions">Sessions</a>.
	</BodyText>

	<ul class="speakers-list">
		{
			Object.values(peopleBySlug)
				.sort((a, b) =>
					!!a.bio === !!b.bio ? a.name.localeCompare(b.name) : a.bio ? -1 : 1,
				)
				.map((person) => (
					<Speaker
						speaker={person}
						talks={Object.values(talksBySlug).filter((talk) =>
							talk.people.includes(person),
						)}
					>
						<div class="bio" slot="center">
							<SafeMarkdown of={person.bio!} />
						</div>
					</Speaker>
				))
		}
	</ul>

	<BodyText class="speakers-bottom" size="large" width="full">
		Our speakers will all be in-person for SquiggleConf 2024.
		<br />
		See talk and workshop details on <a href="/sessions">Sessions</a>.
	</BodyText>
</ContentLayout>;

<style>
	.speakers-top {
		margin-bottom: 2rem;
	}

	.speakers-list {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 2rem;
		padding: 0 var(--widthBodyPadding);
	}

	.bio {
		line-height: 1.25;
		padding-top: 0.5rem;
		transition: var(--transitionMedium) line-height;
	}

	.speakers-bottom {
		margin-top: 3.5rem;
	}

	@media (min-width: 1017px) {
		.speakers-list {
			width: var(--widthBodyLean);
		}
	}
</style>
