---
import HeroName from "./HeroName.astro";

interface Props {
	subTitle?: string;
	title: string;
}
---

<div class="ad-contents">
	<div class="ad-top">
		<h1>{Astro.props.title}</h1>
		<strong>{Astro.props.subTitle}</strong>
	</div>

	<slot />

	<div class="ad-bottom">
		<HeroName align="center" color="inverted" level="h2" size="normal" />
	</div>
</div>

<style>
	.ad-contents {
		align-items: center;
		display: flex;
		flex-direction: column;
		font-family: var(--fontFamilyHeading);
		padding: 3rem;
		height: 100%;
		justify-content: space-between;
		position: relative;
		width: 100%;
	}

	.ad-bottom,
	.ad-top {
		color: var(--colorOffWhite);
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	h1 {
		font-size: 3rem;
	}

	strong {
		font-size: 4.5rem;
	}
</style>
