---
import HeroName from "./HeroName.astro";
---

<div class="ad-contents">
	<div class="ad-top">
		<slot name="top" />
	</div>

	<slot name="body" />

	<div class="ad-bottom">
		<HeroName align="center" color="inverted" level="h2" size="normal" />
	</div>
</div>

<style>
	.ad-contents {
		align-items: center;
		display: flex;
		flex-direction: column;
		font-family: var(--fontFamilyHeading);
		padding: 3rem;
		height: 100%;
		justify-content: space-between;
		position: relative;
		width: 100%;
	}

	.ad-bottom,
	.ad-top {
		color: var(--colorOffWhite);
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	h1 {
		font-size: 7.5rem;
	}
</style>
