---
interface Props {
	title: string;
	subTitle?: string;
}
---

<div class="ad-title-and-subtitle">
	<h1>{Astro.props.title}</h1>
	{Astro.props.subTitle && <strong>{Astro.props.subTitle}</strong>}
</div>

<style>
	.ad-title-and-subtitle {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	h1 {
		font-size: 3.5rem;
	}

	strong {
		font-size: 5rem;
	}
</style>
