---
interface Props {
	index: number;
}

const indexNames = new Map([
	[0, "Static Analysis Superstar"],
	[1, "Accessibility Afficianado"],
	[2, "Build Systems Champion"],
	[3, "Lover of Languages"],
	[4, "Interpersonal Advocate"],
]);

const name = indexNames.get(Astro.props.index) ?? "To Be Announced";
---

<li class="speaker">
	<div class="bio-image"></div>
	<div class="name">{name}</div>
</li>

<style>
	.speaker {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.75rem;
		flex-basis: 0;
		flex-grow: 2;
	}

	.bio-image {
		background: var(--colorSubtle);
		border-radius: 100%;
		height: 6.5rem;
		width: 6.5rem;
	}

	.name {
		font-size: var(--fontSizeBodySmaller);
		font-weight: var(--fontWeightLight);
	}
</style>
