---
import Heading from "./Heading.astro";
import SquiggleFlanked from "./SquiggleFlanked.astro";

import FullSection from "./FullSection.astro";
import AnchorButton from "./AnchorButton.astro";
import BodyText from "./BodyText.astro";
---

<div class="calls">
	<FullSection class="split">
		<SquiggleFlanked class="squiggle-flanked" width="lean">
			<Heading class="heading" id="call-for-speakers" level="h2" link>
				Call for Speakers
			</Heading>
		</SquiggleFlanked>

		<BodyText size="large" width="lean">
			Come share your love of web dev tooling.
		</BodyText>
		<BodyText size="large" width="lean">
			First-time and experienced speakers welcome.
		</BodyText>
		<AnchorButton class="action-button" href="https://cfp.squiggleconf.com">
			Speak at SquiggleConf 2024
		</AnchorButton>
		<BodyText size="large" width="lean">
			Call for Papers (CFP) open until July 12th.
		</BodyText>
	</FullSection>

	<FullSection class="split">
		<SquiggleFlanked class="squiggle-flanked" width="lean">
			<Heading class="heading" id="sponsorships" level="h2" link>
				Sponsorships
			</Heading>
		</SquiggleFlanked>

		<BodyText size="large" width="lean">
			Get your branding in front of enthusiastic web developers and key players
			in great web tooling.
		</BodyText>
		<AnchorButton
			class="action-button"
			href="https://docs.google.com/document/d/1zyWidlU_kx9TDZQx4pez4tQX-kWRyXS18ukhoC9dLko"
			target="_blank"
			rel="noreferrer"
		>
			Sponsorship Prospectus
		</AnchorButton>
		<BodyText size="large">
			Contact us at <a
				href="mailto:sponsorships@squiggleconf.com"
				target="_blank"
			>
				sponsorships@squiggleconf.com</a
			>.
		</BodyText>
	</FullSection>
</div>

<style>
	.calls {
		display: flex;
		gap: 7rem;
		flex-direction: column;
	}

	@media (min-width: 1017px) {
		.calls {
			justify-content: center;
			flex-direction: row;
		}

		.split {
			width: 40%;
		}
	}

	.squiggle-flanked {
		margin-bottom: 3rem;
	}

	.action-button {
		display: inline-block;
		margin: 2rem;
	}

	.heading {
		font-size: var(--fontSizeH2);
	}
</style>
