---
import SquiggleWavesBackdrop from "./SquiggleWavesBackdrop.astro";

interface Props {
	class?: string;
	unmasked?: boolean;
}

const { class: className, unmasked, ...rest } = Astro.props;
---

<div class:list={["deepBlueSea", className]} id="home" {...rest}>
	<slot name="toggle" />
	<div class:list={["squiggles", unmasked && "squiggles-unmasked"]}>
		<SquiggleWavesBackdrop />
	</div>
	<slot />
	<slot name="waves" />
</div>

<style>
	.deepBlueSea {
		background: linear-gradient(
			180deg,
			var(--colorHeroShadow) 0%,
			#156283 100%
		);
		overflow: hidden;
		position: relative;
		text-align: center;
	}

	.squiggles {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		user-select: none;
	}

	.squiggles:not(.squiggles-unmasked) {
		mask-image: radial-gradient(circle at center, transparent 10%, #000 80%);
	}

	.squiggle {
		position: absolute;
	}
</style>
