---
import { Image } from "astro:assets";
import golang from "~/assets/golang-logo.svg";
import rust from "~/assets/rust-logo.svg";
import eslint from "~/assets/eslint-logo.svg";
import typescript from "~/assets/typescript-logo.svg";
import typescriptEslint from "~/assets/typescript-eslint-logo.svg";
import BodyText from "./BodyText.astro";

const logos = [
	{ label: "ESLint", src: eslint },
	{ label: "TypeScript", src: typescript },
	{ label: "typescript-eslint", src: typescriptEslint },
	{ label: "Golang", src: golang },
	{ label: "Rust", src: rust },
];
---

<BodyText width="lean">
	Meet the developers behind the TypeScript, Rust, and Go tools that make the
	squiggles you depend on every day.

	<div class="logos">
		{
			logos.map(({ label, src }) => (
				<Image alt={`${label} logo`} class="logo" src={src} />
			))
		}
	</div>

	You’ll emerge with the best techniques to supercharge your projects — whether
	you’re already a TypeScript wizard or looking to become one.
</BodyText>

<style>
	.logos {
		display: flex;
		gap: 1.5rem;
		margin: 3rem 0;
		justify-content: center;
	}

	.logo {
		width: 3rem;
		height: 3rem;
	}
</style>
