---
import { markdown } from "@astropub/md";
import { Image } from "astro:assets";

import dropdown from "~/assets/dropdown.svg";

import Heading from "./Heading.astro";
import SquiggleFlanked from "./SquiggleFlanked.astro";

type FAQSection = [string, [string, string][]];

const faqs: FAQSection[] = [
	[
		"Schedule",
		[
			[
				"What events are you planning?",
				(await markdown(`
We will let you know soon! This is partially dependent on corporate sponsorships. Subscribe to the newsletter to be the first to know!

<br />

At the very least, SquiggleConf will include:

- Social events for all attendees around the conference
- Breaks and breakout sessions during the conference
- Spaces to ask speakers questions and network with other attendees
				`)) as string,
			],
			[
				"What is the full schedule of events?",
				"We will let you know soon! This is partially dependent on the CFP and corporate sponsorships. Subscribe to the newsletter to be the first to know!",
			],
		],
	],
	[
		"Speaking",
		[
			[
				"Do I need to be a known tooling author to talk?",
				'Absolutely not! We\'d like to hear from a broad range of folks, not just "insiders".',
			],
			[
				"Do I need to be an experienced speaker to talk?",
				"Absolutely not! We love new speakers, especially first-timers.",
			],
			[
				"What kinds of talks are you looking for?",
				// https://github.com/astro-community/md/issues/9
				(await markdown(`All sorts! Anything interesting and related to web dev tooling. At the very least:

- Best practices for software architecture and/or common web stacks
- Discussions on trends in web dev tooling
- Deep dives into how interesting tools work
- Overviews of important concepts, libraries, and/or frameworks
- The personal side of dev tooling

You can read more in the [CFP](#call-for-speakers).
`)) as string,
			],
		],
	],
	[
		"Tickets",
		[
			[
				"Do you have bulk purchasing and/or group options?",
				(await markdown(
					`
We will later this summer. Subscribe to the newsletter to be the first to know!

See also [Sponsors](#sponsors) for options to get ticket discounts and promote your development brand.
					`,
				)) as string,
			],
			[
				"If I can't afford a full ticket, is there a way for me to come?",
				(await markdown(
					'We\'ll have a plethora of discounts and scholarships for diversity, local bootcamp and university students, and loyal attendees of <a href="https://bostonts.club" target="_blank">Boston TS Club</a>. We\'ll also have space for [volunteers](#about-us).',
				)) as string,
			],
			[
				"What is your refund policy?",
				(await markdown(
					"Full refunds. If you can't make it, please let us know - we can work with you. <br /> Do not come to SquiggleConf if you have any COVID symptoms.",
				)) as string,
			],
		],
	],
	[
		"Travel",
		[
			[
				"How do I get there? (airport, parking, and train information)",
				(await markdown(
					`<a href="https://massport.com/logan-airport" target="_blank" rel="noreferrer">Boston Logan International Airport (BOS)</a> is your best bet to get into Boston from out-of-town.
					
Once you're in Boston, see <a href="https://www.neaq.org/visit/directions-and-parking" target="_blank" rel="noreferrer">neaq.org/visit/directions-and-parking</a> for directions to the New England Aquarium. The Simons Theater is in the same address.`,
				)) as string,
			],
			[
				"Is there a hotel recommendation?",
				"Not yet. We will let you know soon. Subscribe to the newsletter to be the first to know!",
			],
		],
	],
	[
		"Other",
		[
			[
				"How do I ask questions not covered here?",
				(await markdown(
					'Reach out to us, we\'d be happy to talk! <a href="mailto:questions@squiggleconf.com" target="_blank">questions@squiggleconf.com</a>',
				)) as string,
			],
		],
	],
] as const;
---

<section class="faq-section">
	<SquiggleFlanked class="squiggle-flanked" width="full">
		<Heading class="h2" id="faqs" level="h2">FAQs</Heading>
	</SquiggleFlanked>

	<div class="faqs">
		{
			faqs.map(([title, section]) => (
				<div class="section">
					<Heading class="h3" level="h3">
						{title}
					</Heading>
					{section.map(([question, answer]) => (
						<details class="details">
							<summary>
								<span>{question}</span>
								<Image alt="" src={dropdown} />
							</summary>
							<div class="answer">{answer}</div>
						</details>
					))}
				</div>
			))
		}
	</div>
</section>

<style>
	.faq-section {
		padding: 0 var(--widthBodyPadding);
		max-width: var(--widthBodyFull);
		width: 100%;
	}

	.squiggle-flanked {
		margin-bottom: 3rem;
	}

	.action-button {
		display: inline-block;
		margin: 2rem;
	}

	.h2 {
		font-size: var(--fontSizeH2);
	}

	.faqs {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		width: 100%;
	}

	.h3 {
		font-size: var(--fontSizeH3);
	}

	details {
		font-family: var(--fontFamilyBody);
		font-size: var(--fontSizeBodySmall);
		font-weight: var(--fontWeightLight);
		line-height: var(--lineHeightBody);
		margin-bottom: 1rem;
		text-align: left;
		width: 100%;
	}

	summary {
		cursor: pointer;
		font-size: var(--fontSizeH4);
		list-style: none;
		position: relative;
		margin-top: 1.5rem;
		display: flex;
		justify-content: space-between;
	}

	details[open] summary {
		margin-bottom: 1rem;
	}

	details summary img {
		transition: var(--transitionMedium) transform;
	}

	details[open] summary img {
		transform: rotate(180deg);
	}

	html.dark summary img {
		filter: invert();
	}

	html:not(.dark) summary img {
		filter: hue-rotate(180deg);
	}

	@media (min-width: 819px) {
		.answer {
			padding-right: 2rem;
		}
	}
</style>

<style is:global>
	details ul {
		margin: 0.75rem 0 0.75rem 1rem;
	}

	details li {
		list-style: initial;
	}
</style>
