---
import Heading from "./Heading.astro";
import SquiggleFlanked from "./SquiggleFlanked.astro";

import dropdown from "~/assets/dropdown.svg";
import { Image } from "astro:assets";

const faqs = [
	["What kinds of talks are you looking for?", "Lorem ipsum"],
	["Airport / parking / train / travel info?", "Lorem ipsum"],
	["Where do I go each day?", "Lorem ipsum"],
	["Is there a hotel recommendation?", "Lorem ipsum"],
	["How do I ask questions not covered here?", "Lorem ipsum"],
];
---

<section class="faq-section">
	<SquiggleFlanked class="squiggle-flanked" width="full">
		<Heading class="heading" level="h2">FAQs</Heading>
	</SquiggleFlanked>

	<div class="faqs">
		{
			faqs.map(([question, answer]) => (
				<details>
					<summary>
						{question}
						<Image alt="" src={dropdown} />
					</summary>
					{answer}
				</details>
			))
		}
	</div>
</section>

<style>
	.faq-section {
		padding: 0 var(--widthBodyPadding);
		max-width: var(--widthBodyFull);
		width: 100%;
	}

	.squiggle-flanked {
		margin-bottom: 3rem;
	}

	.action-button {
		display: inline-block;
		margin: 2rem;
	}

	.heading {
		font-size: var(--fontSizeH2);
	}

	.faqs {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 100%;
	}

	details {
		font-family: var(--fontFamilyBody);
		font-weight: var(--fontWeightLight);
		text-align: left;
		width: 100%;
	}

	summary {
		cursor: pointer;
		font-size: var(--fontSizeH4);
		list-style: none;
		position: relative;
	}

	details summary img {
		position: absolute;
		top: 0;
		right: 0;
		transition: 350ms transform;
	}

	details[open] summary img {
		transform: rotate(180deg);
	}

	html.dark summary img {
		filter: invert();
	}

	html:not(.dark) summary img {
		filter: hue-rotate(180deg);
	}
</style>
