---
import { locations } from "~/data/locations";
import { links } from "~/data/links";

import HeroName from "./HeroName.astro";
import LocationLink from "./LocationLink.astro";
import AnchorButton from "./AnchorButton.astro";
---

<footer>
	<AnchorButton
		class="footer-tickets"
		href={links.tickets}
		target="_blank"
		rel="noreferrer"
	>
		Tickets Available Now
	</AnchorButton>

	<div class="halves">
		<div class="half logo">
			<HeroName align="left" color="inherit" level="h2" />
		</div>
		<div class="half texts">
			<div class="line texts-line">
				<a href="/code-of-conduct">Code of Conduct</a>
			</div>
			<div class="logos">
				{locations.map((location) => <LocationLink {...location} />)}
			</div>
		</div>
	</div>

	<style>
		footer {
			align-items: center;
			display: flex;
			gap: 2rem;
			flex-direction: column;
			margin-bottom: 2rem;
			text-align: center;
		}

		.footer-tickets {
			display: inline-block;
			margin: 0 var(--widthBodyPadding);
		}

		.texts {
			align-items: center;
			display: flex;
			flex-direction: column;
			margin-top: 1rem;
		}

		.texts a {
			font-family: var(--fontFamilyBody);
			font-size: var(--fontSizeBodyLarge);
			font-weight: var(--fontWeightSemibold);
			text-decoration: none;
			color: inherit;
		}

		.line {
			display: flex;
			gap: 1rem;
		}

		.logos {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			justify-content: center;
			user-select: none;
			width: 12rem;
		}

		.texts-line {
			margin: 1rem 0;
		}

		.line img {
			height: 2rem;
			width: 2rem;
		}

		html.dark .texts img {
			filter: invert() hue-rotate(180deg);
		}

		@media (min-width: 700px) {
			.logos {
				width: 100%;
			}
		}

		@media (min-width: 1017px) {
			.halves {
				align-items: flex-end;
				display: flex;
				justify-content: space-between;
				margin: 2rem auto clamp(0.5rem, 5vw, 4rem);
				max-width: var(--widthBodyFull);
				padding: 0 var(--widthBodyPadding);
				width: 100%;
			}

			.texts {
				gap: 1rem;
			}

			.texts-line {
				display: flex;
				flex-direction: column;
				justify-content: right;
				text-align: right;
				width: 100%;
			}

			.logos {
				justify-content: right;
			}
		}
	</style>
</footer>
