---
const sections = [
	[
		"🎪",
		"Engaging Events",
		"Mingle with fellow developers at meetups and mixers before, during, and after the conference.",
	],
	[
		"🏙️",
		"Lovely Location",
		"Right in Boston’s historic district, next to Faneuil Hall Marketplace and the Boston harbor.",
	],
	[
		"🗣️",
		"Superb Speakers",
		"Oct 3rd: Enjoy a dozen talks by tooling aficionados, dev experts, and new voices in the space.",
	],
	[
		"🛠️",
		"Wonderful Workshops",
		"Oct 4th: Opt into a morning workshop of your choice from our speakers and sponsors.",
	],
];
---

<ul class="secondary-info">
	{
		sections.map(([emoji, title, contents]) => (
			<li class="item">
				<h3>
					<div class="emoji">{emoji}</div>
					<div class="title">
						{title.split(" ").map((word) => (
							<div>{word}</div>
						))}
					</div>
				</h3>
				<div class="contents">{contents}</div>
			</li>
		))
	}
</ul>

<style>
	.secondary-info {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		font-family: var(--fontFamilyHeading);
		justify-content: space-between;
		list-style: none;
		margin: auto;
		max-width: var(--widthBodyFull);
		padding: 0 var(--widthBodyPadding);
		row-gap: 2rem;
		text-align: center;
		width: 100%;
	}

	.emoji {
		font-size: 3rem;
	}

	.title {
		font-size: var(--fontSizeH4);
	}

	.contents {
		color: var(--colorForegroundBody);
		font-size: var(--fontSizeBody);
		font-weight: var(--fontWeightLight);
		margin-top: 0.75rem;
		line-height: var(--lineHeightSecondary);
	}

	@media (min-width: 560px) {
		.item {
			width: calc(49% - 0.5rem);
			padding: 0 0.25rem;
		}
	}

	@media (min-width: 819px) {
		.secondary-info {
			padding: 0;
		}

		.item {
			width: calc(24% - 0.25rem);
			min-width: 12rem;
			padding: 0 0.25rem;
		}
	}

	@media (min-width: 1017px) {
		.secondary-info {
			margin-left: -1rem;
			width: calc(100% + 2rem);
		}

		.item {
			padding: 0;
		}
	}
</style>
