<header>
	<details id="details">
		<summary aria-label="Toggle header">≡</summary>
		<div class="header-contents-narrow">
			<a href="/">Home</a>
			<a href="/about">About Us</a>
			<a href="/faqs">FAQs</a>
			<a href="/schedule">Schedule</a>
			<a href="/sessions">Sessions</a>
			<a href="/speakers">Speakers</a>
			<a href="/travel">Travel</a>
		</div>
	</details>

	<div class="header-contents-wide">
		<a href="/">Home</a>
		<a href="/about">About Us</a>
		<a href="/faqs">FAQs</a>
		<a href="/schedule">Schedule</a>
		<a href="/sessions">Sessions</a>
		<a href="/speakers">Speakers</a>
		<a href="/travel">Travel</a>
	</div>
</header>

<script>
	const details = document.querySelector(
		"details#details",
	) as HTMLDetailsElement;
	details.addEventListener("click", (event) => {
		if ((event.target as Partial<HTMLElement>).tagName === "A") {
			details.removeAttribute("open");
		}
	});
</script>

<style>
	header {
		background: linear-gradient(
			to bottom,
			var(--colorHeroShadow) 0%,
			transparent 100%
		);
		position: sticky;
		z-index: 2;
		top: 0;
	}

	a,
	summary {
		font-family: var(--fontFamilyHeading);
		text-decoration: none;
		transition: var(--transitionMedium) color;
	}

	details {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 2;
		text-align: right;
	}

	summary {
		display: inline-block;
		color: var(--colorOffWhite);
		cursor: pointer;
		font-size: 4rem;
		list-style: none;
		padding: 0 1rem;
		position: relative;
		text-shadow: 0 0 3px var(--colorHeroShadow);
		z-index: 2;
		transition:
			var(--transitionMedium) color,
			var(--transitionMedium) text-shadow;
	}

	summary::-webkit-details-marker {
		display: none;
	}

	details[open] summary {
		color: var(--colorEmphasizedBackground);
		text-shadow: 0 0 3px var(--colorOffWhite);
	}

	.header-contents-narrow {
		--offsetTop: 4.5rem;

		background: linear-gradient(112.75deg, #fdffff 0%, #a5e2fc 100%);
		box-shadow: 0 0 1rem var(--colorTextShadow);
		display: flex;
		flex-direction: column;
		font-weight: bold;
		line-height: 1.5;
		margin-top: calc(var(--offsetTop) * -1);
		min-width: 20rem;
		padding: var(--offsetTop) 1rem 1rem;
		position: absolute;
		right: 0;
		text-align: right;
		width: 50%;
		z-index: 1;
	}

	.header-contents-narrow a {
		color: var(--colorEmphasizedBackground);
		font-size: max(5vh, var(--fontSizeBodyLarge));
	}

	.header-contents-wide {
		display: none;
	}

	@media (min-width: 819px) {
		header {
			padding: 2rem;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 2;
		}

		details {
			display: none;
		}

		.header-contents-wide {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin: auto;
			max-width: var(--widthBodyFull);
		}

		.header-contents-wide a {
			color: var(--colorOffWhite);
			font-size: var(--fontSizeBodyLarge);
			text-shadow: 0 0 3px var(--colorHeroShadow);
		}

		.header-contents-wide a:hover {
			color: var(--colorSubtleLight);
		}
	}
</style>
