---
import SquiggleLong from "~/assets/squiggle-long.svg";

import DeepBlueSea from "./DeepBlueSea.astro";
---

<DeepBlueSea>
	<div class="contents">
		<slot />
	</div>
	<div
		class="wave-long"
		slot="waves"
		style={{ "background-image": `url(${SquiggleLong.src})` }}
	>
	</div>
</DeepBlueSea>

<style>
	.contents {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: clamp(2.5rem, 7.5vw, 5rem) 2rem;
		position: relative;
	}

	.wave-long {
		width: 100%;
		position: absolute;
		bottom: -0.5rem;
		height: 1rem;
		right: 0;
		left: 0;
	}

	html.dark .wave-long {
		/* border: 10px solid #11141b; */
		filter: invert();
	}

	@media (min-width: 700px) {
		.contents {
			padding-top: clamp(7rem, 10vw, 9rem);
		}
	}
</style>
