---
import { Image } from "astro:assets";

import squiggleLogo from "~/assets/squiggle-logo.svg";
import Heading from "./Heading.astro";

interface Props {
	align: "center" | "left";
	color: "inherit" | "inverted";
	level: "h1" | "h2";
}
---

<div
	class:list={[
		"hero-name",
		Astro.props.align === "left" ? "hero-name-left" : "hero-name-center",
		Astro.props.color === "inverted"
			? "hero-name-inverted"
			: "hero-name-inherited",
	]}
>
	<Heading class="hero-heading" level={Astro.props.level}>
		<span class="heading-text">
			<span class="word"
				><span class="word-contents">Squiggle</span><Image
					alt=""
					class="squiggle"
					src={squiggleLogo}
				/></span
			><span class="word"><span class="word-contents">Conf</span></span>
		</span>
		<p class="details">
			<span class="together">October 3-4, 2024</span>
			<span class="dot">·</span>
			<span class="together">Boston New England Aquarium</span>
		</p>
	</Heading>

	<style>
		.hero-name {
			align-items: center;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			margin: auto;
			text-align: center;
		}

		.hero-name.hero-name-inverted {
			--colorHeadingText: var(--colorOffWhite);
			--colorShadow: rgba(0, 0, 0, 0.35);
		}

		.hero-name.hero-name-inherited {
			--colorHeadingText: inherit;
			--colorShadow: rgba(240, 240, 255, 0.35);
		}

		html.dark .hero-name {
			--colorShadow: transparent;
		}

		.hero-heading {
			box-sizing: border-box;
			display: inline-flex;
			color: var(--colorHeadingText);
			flex-direction: column;
			font-size: var(--fontSizeHero);
			overflow: hidden;
			padding: 0.75rem 0 0.25rem;
			position: relative;
		}

		.hero-name-center .hero-heading {
			align-items: center;
		}

		.word {
			display: inline-block;
			position: relative;
		}

		.squiggle {
			position: absolute;
			bottom: -0.5rem;
			left: 0;
			width: 100%;
		}

		.heading-text {
			position: relative;
			text-shadow: 0 3px 7px var(--colorShadow);
			z-index: 1;
		}

		.details {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			margin-top: 1rem;
			font-size: var(--fontSizeH3);
			font-family: var(--fontFamilyHeading);
			letter-spacing: var(--letterSpacingHeading);
			text-shadow: 0 3px 7px var(--colorShadow);
		}

		.hero-name-center .details {
			text-align: center;
		}

		.hero-name-inverted .details {
			color: #cae6ff;
		}

		.together {
			display: inline-block;
		}

		.dot {
			display: none;
		}

		.word-contents {
			position: relative;
			z-index: 1;
		}

		@media (min-width: 1017px) {
			.details {
				flex-direction: row;
				margin-top: 2rem;
			}

			.word-contents {
				position: relative;
			}

			.hero-name-left {
				text-align: left;
			}

			.dot {
				display: initial;
			}
		}
	</style>
</div>
