---
import SquiggleLong from "~/assets/squiggle-long.svg";

import Header from "./Header.astro";
import SquiggleWave from "./SquiggleWave.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<div class="hero" id="home">
	<ThemeToggle />
	<div class="squiggles">
		<SquiggleWave left={-5} scale={0.5} top={5} />
		<SquiggleWave left={20} scale={0.5} top={5} />
		<SquiggleWave left={45} scale={0.5} top={5} />
		<SquiggleWave left={70} scale={0.5} top={5} />
		<SquiggleWave left={95} scale={0.5} top={5} />
		<SquiggleWave left={-10} scale={0.65} top={30} />
		<SquiggleWave left={15} scale={0.65} top={30} />
		<SquiggleWave left={40} scale={0.65} top={30} />
		<SquiggleWave left={65} scale={0.65} top={30} />
		<SquiggleWave left={90} scale={0.65} top={30} />
		<SquiggleWave left={-15} scale={0.85} top={55} />
		<SquiggleWave left={10} scale={0.85} top={55} />
		<SquiggleWave left={35} scale={0.85} top={55} />
		<SquiggleWave left={60} scale={0.85} top={55} />
		<SquiggleWave left={85} scale={0.85} top={55} />
		<SquiggleWave left={-20} scale={1} top={85} />
		<SquiggleWave left={5} scale={1} top={85} />
		<SquiggleWave left={30} scale={1} top={85} />
		<SquiggleWave left={55} scale={1} top={85} />
		<SquiggleWave left={80} scale={1} top={85} />
	</div>
	<Header />
	<div class="contents">
		<slot />
	</div>
	<div
		class="wave-long"
		style={{ "background-image": `url(${SquiggleLong.src})` }}
	>
	</div>
</div>

<style>
	.hero {
		background: linear-gradient(
			180deg,
			var(--colorHeroShadow) 0%,
			#156283 100%
		);
		overflow: hidden;
		position: relative;
		text-align: center;
	}

	.squiggles {
		bottom: 0;
		left: 0;
		mask-image: radial-gradient(circle at center, transparent 10%, #000 80%);
		position: absolute;
		right: 0;
		top: 0;
		user-select: none;
	}

	.squiggle {
		position: absolute;
	}

	.contents {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: clamp(5rem, 10vw, 9rem) 2rem clamp(2.5rem, 7.5vw, 5rem);
		position: relative;
	}

	.wave-long {
		width: 100%;
		position: absolute;
		bottom: -0.5rem;
		height: 1rem;
		right: 0;
		left: 0;
	}

	html.dark .wave-long {
		/* border: 10px solid #11141b; */
		filter: invert();
	}
</style>
