---
import Arrow from "~/components/Arrow.astro";
import Heading from "~/components/Heading.astro";
import Hero from "./Hero.astro";
---

<Hero>
	<Heading class="hero-heading" level="h1"><slot /></Heading>
	<a class="back" href="/">
		<Arrow />
		SquiggleConf
	</a>
</Hero>

<style>
	.hero-heading {
		color: var(--colorOffWhite);
		font-size: var(--fontSizeHero);
	}

	.back {
		color: var(--colorInvertedMild);
		font-family: var(--fontFamilyBody);
		text-decoration: none;
		font-size: var(--fontSizeH3);
		display: block;
	}

	.code-of-conduct-contents {
		margin: 3.5rem var(--widthBodyPadding) 5rem;
	}

	@media (min-width: 819px) {
		.back {
			text-align: left;
		}
	}
</style>
