---
import Newsletter from "./Newsletter.astro";
import PrimaryInfo from "./PrimaryInfo.astro";
import SecondaryInfo from "./SecondaryInfo.astro";
---

<div>
	<PrimaryInfo />
	<SecondaryInfo />
	<Newsletter class="newsletter" />
</div>

<style>
	.newsletter {
		margin-top: 5rem;
		max-width: fit-content;
	}
</style>
