---
interface Props {
	class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<form class:list={["newsletter", className]} {...rest}>
	<label for="email">
		Enter your email for deadlines, announcements, and other great SquiggleConf
		news.
	</label>
	<input id="email" type="email" placeholder="you.are@awesome.com" />
	<button class="button" type="submit">Subscribe</button>
</form>

<style>
	.newsletter {
		align-items: center;
		display: grid;
		font-family: var(--fontFamilyBody);
		font-size: var(--fontSizeBody);
		font-weight: var(--fontWeightBody);
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
		margin: auto;
		padding: 0 var(--widthBodyPadding);
	}

	label {
		grid-area: 1 / 1 / 2 / 2;
	}

	.button {
		cursor: pointer;
		color: var(--colorOffWhite);
		grid-area: 1 / 2 / 2 / 3;
		transition:
			var(--transitionFast) transform,
			var(--transitionFast) box-shadow;
	}

	.button:focus,
	.button:hover {
		transform: translateY(-3px);
		box-shadow: 0 6px 14px var(--colorTextShadow);
	}

	input {
		grid-area: 2 / 1 / 3 / 3;
	}

	label {
		max-width: 20rem;
	}

	button {
		background: var(--colorEmphasized);
		border-radius: 1rem;
		border: none;
		font-family: var(--fontFamilyHeading);
		font-weight: 700;
		font-size: var(--fontSizeBodyLarge);
		text-decoration: none;
		color: var(--colorInverted);
		padding: 1rem 2rem;
	}

	input {
		border: 1px solid var(--colorForeground);
		border-radius: 0.5rem;
		padding: 0.5rem 0.75rem;
	}

	input::placeholder {
		color: var(--colorForeground);
	}
</style>
