---
import { Image } from "astro:assets";

import { partners } from "~/data/index.js";

import FullSection from "./FullSection.astro";
import BodyText from "./BodyText.astro";
import HeadingFlanked from "./HeadingFlanked.astro";
---

<FullSection>
	<HeadingFlanked id="partners">Partners</HeadingFlanked>

	<BodyText size="large" width="lean">
		Our partners are lovely friends in the industry who also work to push the
		state of web dev tooling forward.
	</BodyText>

	<div class="partners">
		{
			partners.map((partner) => (
				<a href={partner.href} rel="noreferrer" target="_blank">
					<Image
						alt=""
						class="partner-logo-dark"
						src={partner.logos.dark}
						height={128}
					/>
					<Image
						alt=""
						class="partner-logo-light"
						src={partner.logos.light}
						height={128}
					/>
				</a>
			))
		}
	</div>
</FullSection>

<style>
	.partners {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		justify-content: center;
		margin: auto;
	}

	html.dark .partner-logo-light,
	html:not(.dark) .partner-logo-dark {
		display: none;
	}

	@media (min-width: 819px) {
		.partners {
			flex-direction: row;
			gap: 4rem;
		}

		.partners a {
			padding: 1.5rem 3.5rem;
		}
	}
</style>
