---
import { forms } from "~/data";

import AnchorButton from "./AnchorButton.astro";
import Hero from "./Hero.astro";
import HeroName from "./HeroName.astro";
---

<Hero>
	<HeroName align="center" color="inverted" level="h1" />
	<AnchorButton
		href="https://buytickets.at/squiggleconf/1249793/r/website"
		target="_blank"
		rel="noreferrer"
	>
		$450 Tickets Available Now
	</AnchorButton>

	<div class="sub-mentions">
		<a
			class="sub-mention"
			href={forms.scholarship}
			target="_blank"
			rel="noreferrer"
		>
			Apply for DEI Scholarship ↗
		</a>
		<a
			class="sub-mention"
			href={forms.volunteer}
			target="_blank"
			rel="noreferrer"
		>
			Apply to Volunteer ↗
		</a>
	</div>
</Hero>

<style>
	.sub-mentions {
		align-items: center;
		display: flex;
		gap: 2rem;
	}

	.sub-mention {
		color: #cae6ff;
		font-size: var(--fontSizeBody);
		font-family: var(--fontFamilyHeading);
		text-underline-offset: 0.2em;
	}
</style>
