---
import { links } from "~/data";

import AnchorButton from "./AnchorButton.astro";
import Hero from "./Hero.astro";
import HeroName from "./HeroName.astro";
import NoBreak from "./NoBreak.astro";
---

<Hero>
	<HeroName align="center" color="inverted" level="h1" />
	<AnchorButton href={links.tickets} target="_blank" rel="noreferrer">
		$450 Tickets Available Now
	</AnchorButton>

	<div class="sub-mentions">
		<a
			class="sub-mention"
			href={links.scholarship}
			target="_blank"
			rel="noreferrer"
		>
			<NoBreak>Apply for</NoBreak>
			<NoBreak>DEI Scholarship ↗</NoBreak>
		</a>
		<a
			class="sub-mention"
			href={links.volunteer}
			target="_blank"
			rel="noreferrer"
		>
			<NoBreak>Apply to</NoBreak>
			<NoBreak>Volunteer ↗</NoBreak>
		</a>
		<a
			class="sub-mention"
			href={links.tickets}
			target="_blank"
			rel="noreferrer"
		>
			<NoBreak>Bulk Tickets</NoBreak>
			<NoBreak>Now Available ↗</NoBreak>
		</a>
	</div>
</Hero>

<style>
	.sub-mentions {
		align-items: center;
		display: flex;
		gap: clamp(1rem, 5vw, 2rem);
	}

	.sub-mention {
		color: #cae6ff;
		font-size: var(--fontSizeBody);
		font-family: var(--fontFamilyHeading);
		text-underline-offset: 0.2em;
	}

	@media (min-width: 819px) {
		.sub-mentions {
			padding-bottom: 2rem;
		}
	}
</style>
