---
import HeroName from "./HeroName.astro";
---

<div class="primary-hero">
	<HeroName level="h1" />
	<div class="vectors">
		<svg
			class="skyline"
			fill="none"
			viewBox="0 0 989 285"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M284 126.5L250.5 125L238 129V132L226.5 136V169.5H219L218 153L214 151V146.5L211 145.5V138L209.5 140L201 138L200 136L198.5 138H187.5L185.5 137L184.5 144H180.5V149H177V153L132.5 151L116.5 153L117.5 100.5L115.5 98L94.5 94V69L69.5 64.5L61.5 66V76.5L33.5 71L26.5 72.5L22.5 239H1V286.5H988V226.5L976 225.5H965L964 226L962.5 224.5L959.5 156.5L962 153L959.5 149.5V148.5L958.5 146V142L957 141L953 134V117L954.5 115L954 110H952V107L951.5 102L950 101.5L941 80.5V79.5H940.5L939.5 74.5H938L936.5 80H935.5V81.5L929 103.5H928.5L926.5 107.5L927.5 109V110H921L919.5 48L905.5 47L905 37L874.5 36L854.5 45V53L842.5 59L845 135.5H834L833 106.5L831.5 105.5H825.5V97L823.5 96.5V94.5L818.5 94V92.5L817.5 91.5L810 91L809 70.5H796.5V61L795.5 60L750 59L741.5 64V70.5H738L733 73.5H730.5L729 75.5L731 146.5H729L728 147.5H727L726.5 146.5H720L720.5 211.5L718 213.5L713 212.5L711 209H706V211.5L700.5 210.5V206.5L699.5 201L698.5 197.5L692.5 196.5V201H689.5L688 194H673V188.5H669V187H666L665 177.5H663.5V172.5H656V167H651V161L646 159H639.5V149.5L644 148V101.5L637.5 100L634 92.5H622.5L611.5 95H605.5L602.5 96.5L599.5 94L597 102.5L589 104V110.5L573 114.5H552V59L541.5 57V42L532.5 39L515 27H513L494 41H490.5L486.5 43V58L484.5 59L478 61V90.5L458 95V104.5L454 106L449.5 104.5H448V8.5L444.5 5.5L431 6.5L420.5 1.5L411.5 2.5H404.5H397L391 3L385.5 4.5L379.5 8.5V80H377L368.5 79H356V96.5L350.5 98.5L349 113L347 114V115.5L340 114L338.5 95L304.5 93L298.5 95L296.5 114L292 115.5V132H284"
				fill="white"></path>
		</svg>
		<svg
			class="side-squiggle"
			fill="none"
			height="65"
			width="100%"
			xmlns="http://www.w3.org/2000/svg"
		>
			<defs>
				<pattern id="bg" patternUnits="userSpaceOnUse" width="140" height="65">
					<rect x="0" y="10" width="150" height="65" fill="white"></rect>
					<path
						d="M4 15L13.9382 8.40411C17.9595 5.7352 23.1885 5.7352 27.2098 8.40411L30.5122 10.5959C34.5335 13.2648 39.7624 13.2648 43.7838 10.5959L47.0862 8.4041C51.1075 5.7352 56.3365 5.7352 60.3578 8.40411L63.7287 10.6413C67.7153 13.2872 72.8928 13.3119 76.9046 10.7042L79.8553 8.78609C83.7721 6.24004 88.8105 6.19849 92.7687 8.6796L96.2928 10.8886C100.286 13.3917 105.375 13.3255 109.302 10.7193L112.79 8.40411C116.812 5.7352 122.04 5.7352 126.062 8.4041L136 15"
						stroke="white"
						stroke-width="12"></path>
				</pattern></defs
			>
			<rect width="100%" height="100%" fill="url(#bg)"></rect>
		</svg>
	</div>
</div>

<style>
	.primary-hero {
		background: linear-gradient(
			180deg,
			#459ef4 0%,
			#67b4ff 11%,
			#c7dfff 40%,
			#ffd69d 65%,
			#f5ab6c 81%,
			#e64a40 95%
		);
		padding-top: 3.5rem;
		text-align: center;
	}

	.vectors {
		margin-top: 1rem;
		position: relative;
	}

	.skyline {
		display: block;
		height: 10rem;
		margin: auto;
	}

	.side-squiggle {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
	}
</style>
