---
const { class: className, ...rest } = Astro.props;
---

<section class={className} {...rest}>
	<div class="section-contents">
		<slot />
	</div>
</section>

<style>
	.section-contents {
		margin: auto;
		text-align: center;
		width: 100%;
	}
</style>
