---
import { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import ChromeDevTools from "~/assets/logos/ChromeDevTools.svg";
import C from "~/assets/logos/C.png";
import Cpp from "~/assets/logos/Cpp.png";
import Computer from "~/assets/logos/Computer.png";
import Go from "~/assets/logos/Go.svg";
import JavaScript from "~/assets/logos/JavaScript.png";
import NodeJSLogo from "~/assets/logos/NodeJS.svg";
import OpenTelemetry from "~/assets/logos/OpenTelemetry.png";
import Rust from "~/assets/logos/Rust.svg";
import SVG from "~/assets/logos/SVG.svg";
import TypeScript from "~/assets/logos/TypeScript.svg";
import VSCode from "~/assets/logos/VSCode.png";
import WebAssembly from "~/assets/logos/WebAssembly.svg";
import Zig from "~/assets/logos/Zig.svg";
import DotNet from "~/assets/logos/DotNet.svg";
import Haskell from "~/assets/logos/Haskell.svg";
import OCaml from "~/assets/logos/OCaml.svg";
import Java from "~/assets/logos/Java.svg";
import Perl from "~/assets/logos/Perl.svg";
import PHP from "~/assets/logos/PHP.svg";
import Kotlin from "~/assets/logos/Kotlin.png";
import Python from "~/assets/logos/Python.svg";
import Ruby from "~/assets/logos/Ruby.svg";
import Elixir from "~/assets/logos/Elixir.svg";

import AST from "~/assets/logos/icon-mediation.svg";
import Accessibility from "~/assets/logos/icon-accessibility.svg";
import Account from "~/assets/logos/icon-account.svg";
import AnimationIcon from "~/assets/logos/icon-animation.svg";
import Autoplay from "~/assets/logos/icon-autoplay.svg";
import Bug from "~/assets/logos/icon-bug.svg";
import Calculate from "~/assets/logos/icon-calculate.svg";
import Code from "~/assets/logos/icon-code.svg";
import Diversity from "~/assets/logos/icon-diversity.svg";
import Dock from "~/assets/logos/icon-dock.svg";
import Docs from "~/assets/logos/icon-docs.svg";
import Edit from "~/assets/logos/icon-edit.svg";
import Footprint from "~/assets/logos/icon-footprint.svg";
import Forrest from "~/assets/logos/icon-forrest.svg";
import Handyman from "~/assets/logos/icon-handyman.svg";
import Headset from "~/assets/logos/icon-headset.svg";
import Hub from "~/assets/logos/icon-hub.svg";
import Inclusive from "~/assets/logos/icon-inclusive.svg";
import Lightning from "~/assets/logos/icon-lightning.svg";
import Monorepo from "~/assets/logos/icon-monorepo.svg";
import Palette from "~/assets/logos/icon-palette.svg";
import Protocol from "~/assets/logos/icon-protocol.svg";
import Rocket from "~/assets/logos/icon-rocket.svg";
import Stylus from "~/assets/logos/icon-stylus.svg";
import Terminal from "~/assets/logos/icon-terminal.svg";
import Vitals from "~/assets/logos/icon-vitals.svg";

const whiteStrokeIcons = [
	AST,
	Accessibility,
	Account,
	AnimationIcon,
	Bug,
	Autoplay,
	Calculate,
	Code,
	Diversity,
	Dock,
	Docs,
	Edit,
	Footprint,
	Forrest,
	Handyman,
	Headset,
	Hub,
	Inclusive,
	Lightning,
	Monorepo,
	Palette,
	Protocol,
	Rocket,
	Stylus,
	Terminal,
	Vitals,
];

const images: Record<string, ImageMetadata> = {
	".Net": DotNet,
	Haskell: Haskell,
	OCaml: OCaml,
	Java: Java,
	Kotlin: Kotlin,
	Perl: Perl,
	PHP: PHP,
	Python: Python,
	Ruby: Ruby,
	Elixir: Elixir,
	ASTs: AST,
	"Accessibility Tree": Accessibility,
	"Build Optimization": Handyman,
	C: C,
	"C++": Cpp,
	CLIs: Terminal,
	"CSS Animations Panel": Autoplay,
	Canvas: Palette,
	"Chrome DevTools": ChromeDevTools,
	"Community Building": Diversity,
	"Core Web Vitals": Vitals,
	"Cross-Language": Hub,
	"Debugging Tools": Dock,
	Debugging: Bug,
	Design: Stylus,
	"Developer Relations": Headset,
	Docs: Docs,
	Documentation: Docs,
	"Editor Extensions": Computer,
	"Inclusive Design": Inclusive,
	JavaScript: JavaScript,
	"Language Server Protocol": Protocol,
	"Launching Software Products": Rocket,
	"Monorepo Tooling": Monorepo,
	"Node.js": NodeJSLogo,
	"Open Source": Account,
	"Open Telemetry": OpenTelemetry,
	Parsing: Calculate,
	Performance: Lightning,
	Rust: Rust,
	SVG: SVG,
	"Source Code": Code,
	"Technical Writing": Edit,
	Tracing: Footprint,
	TreeSitter: Forrest,
	TypeScript: TypeScript,
	"Web Animations API": AnimationIcon,
	WebAssembly: WebAssembly,
	Zig: Zig,
	Go: Go,
	"VS Code": VSCode,
};

interface Props {
	tag: string;
	scale?: number;
	size?: SessionTagSize;
}

export type SessionTagSize = "normal" | "large";

const { tag, scale, size } = Astro.props;
const image = images[tag];
const isLight = whiteStrokeIcons.includes(image);
---

<div
	class:list={["tag-chip", size === "large" ? "tag-large" : "tag-normal"]}
	style={{ zoom: scale, alignSelf: "end" }}
>
	{
		image && (
			<Image
				class:list={["tag-icon", isLight ? "light-icon" : ""]}
				alt={`${tag} logo`}
				src={image}
				height={24}
			/>
		)
	}
	{tag}
</div>

<style>
	.tag-chip {
		display: inline-flex;
		align-items: center;
		background-color: var(--colorBackdropOff);
		border: 1px solid var(--colorDull);
		border-radius: 0.25rem;
		white-space: nowrap;
		cursor: default;
	}

	.tag-normal {
		font-size: 1rem;
		padding: 0.125rem 0.25rem 0.125rem 0.125rem;
	}

	.tag-large {
		font-size: 1.5rem;
		padding: 0.5rem 0.5rem 0.35rem;
	}

	.light-icon {
		filter: invert(1);
		opacity: 0.5;
	}

	.tag-icon {
		margin-right: 0.25rem;
		max-width: 24px;
	}

	html.dark .tag-icon {
		filter: none;
	}
</style>
