---
import SessionTag, { SessionTagSize } from "./SessionTag.astro";

const languageSoup = ["Rust", "TypeScript", "Zig", "Go", "C++", "C"];

interface Props {
	class?: string;
	size?: SessionTagSize;
	tags: string[];
}

const { class: className, size, tags, ...rest } = Astro.props;
---

<div class:list={["tags", className]} {...rest}>
	{
		tags
			.flatMap((tag) => (tag === "Language Soup" ? languageSoup : tag))
			.map((tag) => <SessionTag size={size} tag={tag} />)
	}
</div>

<style>
	.tags {
		display: flex;
		flex-wrap: wrap;
		margin: 0.5rem 0;
		gap: 0.75rem;
	}

	.tags-large {
		font-size: 2rem;
	}
</style>
