---
import { talks } from "~/data";

import BodyText from "./BodyText.astro";
import CardsList from "./CardsList.astro";
import FullSection from "./FullSection.astro";
import HeadingFlanked from "./HeadingFlanked.astro";
import Speaker from "./Speaker.astro";
import SubtleCard from "./SubtleCard.astro";
import TagLine from "./TagLine.astro";
---

<FullSection>
	<TagLine />
	<br />
	<BodyText as="p" class="speakers-body-text" size="large" width="lean">
		See full details on <a href="/sessions">Sessions</a>.
	</BodyText>

	<CardsList class="speakers-list">
		{
			talks.flatMap((talk) =>
				talk.people.map((person) => (
					<SubtleCard class="speaker-card">
						<Speaker href={`/talks#${talk.slug}`} link person={person} />
					</SubtleCard>
				)),
			)
		}
	</CardsList>

	<BodyText as="p" class="speakers-body-text" size="large" width="lean">
		You’ll emerge with the best techniques to supercharge your projects —
		whether you’re already a tooling wizard or trying to become one.
		<br />
		<br />
		See full details on <a href="/sessions">Sessions</a>.
	</BodyText>
</FullSection>

<style>
	.speakers-body-text {
		margin: auto;
	}

	@media (min-width: 700px) {
		.speaker-card {
			width: 47%;
		}
	}

	@media (min-width: 1017px) {
		.speaker-card {
			width: 31%;
		}
	}
</style>
