<li class="speaker">
	<div class="speaker-image"></div>
	<div class="name">To Be Announced</div>
</li>

<style>
	.speaker {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.75rem;
	}

	.speaker-image {
		background: var(--colorSubtle);
		border-radius: 100%;
		height: 6rem;
		width: 6rem;
	}

	.name {
		font-size: var(--fontSizeBodySmall);
		font-weight: var(--fontWeightLight);
	}
</style>
