<div class="speakers-area">
	<slot />
</div>

<style>
	.speakers-area {
		margin: 3.5rem auto 0;
		max-width: 50rem;
		min-width: 80vw;
		flex-wrap: wrap;
		display: flex;
		gap: 2rem;
		flex-direction: column;
		padding: 0 var(--widthBodyPadding);
	}
</style>
