---
import Heading from "./Heading.astro";
import SquiggleFlanked from "./SquiggleFlanked.astro";

import FullSection from "./FullSection.astro";
import AnchorButton from "./AnchorButton.astro";
import BodyText from "./BodyText.astro";
import { sponsors } from "~/data";
import { Image } from "astro:assets";
---

<FullSection>
	<SquiggleFlanked class="squiggle-flanked" width="lean">
		<Heading class="heading" id="sponsors" level="h2" link> Sponsors </Heading>
	</SquiggleFlanked>
	<BodyText size="large" width="lean">
		The support of our generous sponsors help make SquiggleConf possible. They
		have our sincere appreciation and thanks.
	</BodyText>

	<div class="sponsors">
		{
			sponsors.map((sponsor) => (
				<a href={sponsor.href} rel="noreferrer" target="_blank">
					<Image alt="" src={sponsor.logo} />
				</a>
			))
		}
	</div>

	<SquiggleFlanked class="squiggle-flanked" width="lean">
		<Heading class="heading" id="sponsorships" level="h2" link>
			Sponsorships
		</Heading>
	</SquiggleFlanked>

	<BodyText size="large" width="lean">
		Get your branding in front of enthusiastic web developers and key players in
		great web tooling.
	</BodyText>
	<AnchorButton
		class="action-button"
		href="https://docs.google.com/document/d/1zyWidlU_kx9TDZQx4pez4tQX-kWRyXS18ukhoC9dLko"
		target="_blank"
		rel="noreferrer"
	>
		Sponsorship Prospectus
	</AnchorButton>
	<BodyText size="large">
		Contact us at <a
			href="mailto:sponsorships@squiggleconf.com"
			target="_blank"
		>
			sponsorships@squiggleconf.com</a
		>.
	</BodyText>
</FullSection>

<style>
	.squiggle-flanked {
		margin-bottom: 3rem;
	}

	.heading {
		font-size: var(--fontSizeH2);
	}

	.sponsors {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4rem;
		margin: auto;
	}

	.sponsors a {
		padding: 0 1rem;
	}

	.sponsors img {
		max-width: 14rem;
	}

	.action-button {
		display: inline-block;
		margin: 2rem;
	}
</style>
