---
import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";

import inngest from "~/assets/sponsors/inngest.svg";
import AdContents from "~/components/AdContents.astro";
import AdImage from "~/components/AdImage.astro";
import DeepBlueSea from "~/components/DeepBlueSea.astro";
import Head from "~/components/Head.astro";

import "~/layouts/base.css";
import "~/layouts/normalize.css";
---

<html lang="en">
	<Head />
	<body>
		<main>
			<DeepBlueSea class="deep-blue-ad">
				<AdContents subTitle="OpenJS Foundation" title="Inngest">
					<AdImage src={inngest} />
				</AdContents>
			</DeepBlueSea>
		</main>
		<style>
			.deep-blue-ad {
				height: 100vh;
			}
		</style>
	</body>
</html>
