---
import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";

import openjsFoundationLight from "~/assets/sponsors/openjs-foundation-light.svg";
import AdContents from "~/components/AdContents.astro";
import DeepBlueSea from "~/components/DeepBlueSea.astro";
import Head from "~/components/Head.astro";

import "~/layouts/base.css";
import "~/layouts/normalize.css";
---

<html lang="en">
	<Head />
	<body>
		<main>
			<DeepBlueSea class="deep-blue-ad">
				<AdContents logo={openjsFoundationLight} title="OpenJS Foundation" />
			</DeepBlueSea>
		</main>
		<style>
			.deep-blue-ad {
				height: 100vh;
			}
		</style>
	</body>
</html>
