---
import DeepBlueSea from "~/components/DeepBlueSea.astro";
import Head from "~/components/Head.astro";

import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";

import "./base.css";
import "./normalize.css";

interface Props {
	unmasked?: boolean;
}
---

<html lang="en">
	<Head description="Internal ad page." title="Ad" />
	<body>
		<main>
			<DeepBlueSea class="deep-blue-ad" unmasked={Astro.props.unmasked}>
				<slot />
			</DeepBlueSea>
		</main>
		<style>
			.deep-blue-ad {
				height: 100vh;
			}
		</style>
	</body>
</html>
