---
import DeepBlueSea from "~/components/DeepBlueSea.astro";
import Head from "~/components/Head.astro";
import Heading from "~/components/Heading.astro";
import HeroNameHeading from "~/components/HeroNameHeading.astro";

import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";

import "./base.css";
import "./normalize.css";
---

<html lang="en">
	<Head description="Internal badge page." title="Badge" />
	<body>
		<main class="badge">
			<DeepBlueSea class="deep-blue-badge" light="contrast">
				<div class="contents">
					<div class="top">
						<HeroNameHeading
							align="center"
							color="inverted"
							level="h2"
							shadow="extra"
							size="normal"
						/>
						<Heading class="date" level="h2">October 3-4 2024</Heading>
					</div>
					<slot name="body" />
					<slot name="footer" />
				</div>
			</DeepBlueSea>
		</main>
		<style>
			.badge {
				width: 42rem;
				height: 63rem;
				position: absolute;
			}

			.deep-blue-badge {
				height: 100%;
			}

			.contents {
				align-items: center;
				display: flex;
				flex-direction: column;
				font-family: var(--fontFamilyHeading);
				gap: 1.5rem;
				height: 100%;
				justify-content: space-between;
				padding-top: 2rem;
				position: relative;
				width: 100%;
			}

			.top {
				padding: 1.75rem 0;
				text-shadow:
					0 1px 7px var(--colorTextShadow),
					0 3px 7px var(--colorTextShadow),
					0 3px 14px var(--colorTextShadow),
					0 3px 14px var(--colorTextShadow);
			}

			.date {
				color: var(--colorBlueLight);
			}

			.date {
				font-size: 3rem;
				margin-top: 1rem;
			}
		</style>
	</body>
</html>
