---
import DeepBlueSea from "~/components/DeepBlueSea.astro";
import Head from "~/components/Head.astro";
import Heading from "~/components/Heading.astro";
import HeroNameHeading from "~/components/HeroNameHeading.astro";

import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";

import "./base.css";
import "./normalize.css";

interface Props {
	heroSize: "normal" | "small";
}
---

<html lang="en">
	<Head description="Internal badge page." title="Badge" />
	<body>
		<main class="badge">
			<DeepBlueSea class="deep-blue-badge" light="contrast">
				<div class="contents">
					<div
						class:list={[
							"top",
							Astro.props.heroSize === "small" ? "top-small" : "top-large",
						]}
					>
						<HeroNameHeading
							align="center"
							color="inverted"
							level="h2"
							shadow="extra"
							size={Astro.props.heroSize}
						/>
						<Heading class="date" level="h2">October 3-4 2024</Heading>
					</div>
					<slot name="body" />
					<slot name="footer" />
				</div>
			</DeepBlueSea>
		</main>
		<style>
			.badge {
				width: 45rem;
				height: 60rem;
				position: absolute;
			}

			.deep-blue-badge {
				height: 100%;
			}

			.contents {
				align-items: center;
				display: flex;
				flex-direction: column;
				font-family: var(--fontFamilyHeading);
				gap: 1.5rem;
				height: 100%;
				justify-content: space-between;
				padding-top: 2rem;
				position: relative;
				width: 100%;
			}

			.top {
				padding: 1.75rem 0;
				text-shadow:
					0 1px 7px var(--colorTextShadow),
					0 3px 7px var(--colorTextShadow),
					0 3px 14px var(--colorTextShadow),
					0 3px 14px var(--colorTextShadow);
			}

			.date {
				color: var(--colorBlueLight);
			}

			.top-normal .date {
				font-size: 3rem;
				margin-top: 1rem;
			}

			.top-small .date {
				font-size: 2rem;
				margin-top: 0.5rem;
			}
		</style>
	</body>
</html>
