---
import DeepBlueSea from "~/components/DeepBlueSea.astro";
import Head from "~/components/Head.astro";

import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";

import "./base.css";
import "./normalize.css";

interface Props {
	unmasked?: boolean;
}
---

<html lang="en">
	<Head />
	<body>
		<main class="badge">
			<DeepBlueSea class="deep-blue-badge" unmasked={Astro.props.unmasked}>
				<slot />
			</DeepBlueSea>
		</main>
		<style>
			.badge {
				width: 45rem;
				height: 60rem;
				position: absolute;
			}

			.deep-blue-badge {
				height: 100%;
			}
		</style>
	</body>
</html>
