---
import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";
import { SkipLinks } from "accessible-astro-components";

import Head from "~/components/Head.astro";
import Footer from "~/components/Footer.astro";

import "./base.css";
import "./normalize.css";
---

<html lang="en">
	<Head />
	<body class="body">
		<SkipLinks />
		<main>
			<slot />
		</main>
		<Footer />
		<style>
			body {
				background: linear-gradient(
					180deg,
					var(--colorBackdropLight) 20%,
					var(--colorBackdropDark) 100%
				);

				color: var(--colorForeground);
			}
		</style>
	</body>
</html>
