---
import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";

import Head, { Props as HeadProps } from "~/components/Head.astro";

import "./base.css";
import "./normalize.css";

type Props = HeadProps;
---

<html lang="en">
	<Head {...Astro.props} />
	<body>
		<slot />
	</body>
</html>
