---
import "@fontsource-variable/josefin-sans";
import "@fontsource/urbanist";

import Head from "~/components/Head.astro";

import "./base.css";
import "./normalize.css";
---

<html lang="en">
	<Head />
	<body>
		<slot />
	</body>
</html>
